@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');

:root {
  font-family: 'Lato', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: #151515 !important;
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
}

.text-fancy {
  font-family: 'Cinzel Decorative', cursive, sans-serif !important;
}

.text-gold {
  color: #D99904 !important;
}

.bg-cs-blue {
  background-color: #1F2937 !important;
}